t0 TRAY 0.ico
t1 TRAY 1.ico
t2 TRAY 2.ico
t3 TRAY 3.ico
t4 TRAY 4.ico
t5 TRAY 5.ico
t6 TRAY 6.ico
t7 TRAY 7.ico
t8 TRAY 8.ico
t9 TRAY 9.ico
t10 TRAY 10.ico
t11 TRAY 11.ico
t12 TRAY 12.ico
t13 TRAY 13.ico
t14 TRAY 14.ico
t15 TRAY 15.ico
t16 TRAY 16.ico
pencil CURSOR pencil.cur
region CURSOR region.cur
p1 PNG left.png
p2 PNG right.png
p3 PNG draw.png
p4 PNG plain.png
p5 PNG ctrl.png
brush PNG brush.png
title PNG title.png
splash JPG splash.jpg